<div id="<%= dom_id service %>">
  <p>
    <strong>Service name:</strong>
    <%= service.service_name %>
  </p>

  <p>
    <strong>Spare parts:</strong>
    <%= service.spare_parts %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= service.deadline %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service.status %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= service.vehicle_id %>
  </p>

</div>
