<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Brand:</strong>
    <%= vehicle.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Plate number:</strong>
    <%= vehicle.plate_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

</div>
