<div id="<%= dom_id vehicle %>">

<tbody>
  <tr>
    <td><%= vehicle.brand %></td>
    <td><%= vehicle.model %></td>
    <td><%= vehicle.plate_number %></td>
    <td>  <% if local_assigns[:show_link] %>
    <p>
      <%= link_to 'Show this vehicle', vehicle %>
    </p>
  <% end %></td>
  </tr>
</tbody>